{% extends 'base.html' %}


<!-- content -->
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="email">Enter your email to get reset password link</label>
        <input 
        type="email" 
        name="email" 
        id="email" 
        class="border rounded p-2" 
        placeholder="Enter email"
        />
        <input type="submit" 
        value="Rest My Password" 
        class="border rounded p-2 bg-green-700 text-white cursor-pointer"
        />
    </form>
{% endblock %}